@charset "UTF-8";
  body{ background-image: URL(../fundoavr666.png);}
      @media only screen and (min-width: 1000px){
      .mobile { display: none; }
      }
     h2 {text-align: center; color: #C0C0C0; font-size: 22pt; font-family: "Arial, Times New Roman", Century, "Book Antiqua";}
     p {text-align: left; color: black; font-size: 30pt; font-family: "Arial", Century, "Book Antiqua";}
     .cabeca {background-color: #FFDEAD;text-align:center;}
     h3{text-align: center; color: black; font-size: 32pt; font-family: "Arial", Century, "Book Antiqua";}
     .footer{text-align: center; font-size: 15pt; color: black;}
     .anuncio{float: center; background-color: none; width:750px; margin:0 auto; text-align:left; border:12px black;}
     .botao{float: left;}
    .regra{text-align: center; text-align: left; color: black; font-size: 20pt; font-family: "Arial", Century, "Book Antiqua";}
     .mobile{float: center;}
     .cf{text-align: center; border-radius: 10px;}
    .menu{text-align: center;}
    .som{text-align: right;}
 .texto {background-color: none; width:750px; margin:0 auto; text-align:left; border:12px black;}
 div.dice{
	float:center;
	width:120px;  
height:120px;
	background: #FFDEAD;
	padding:10px;
	font-size:50px;
	margin:7px;
}
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
mark {
  background: yellow;
}

mark.current {
  background: orange;
}

.header {
  padding: 10px;
  width: 100%;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  margin-top: 50px;
}
