@charset "UTF-8";
  body{ background-image: URL(../fundoavr666.png);}
      @media only screen and (min-width: 1000px){
      .mobile { display: none; }
      }
     h2 {text-align: center; color: #C0C0C0; font-size: 22pt; font-family: "Arial, Times New Roman", Century, "Book Antiqua";}
     p {text-align: left; color: black; font-size: 30pt; font-family: "Arial", Century, "Book Antiqua";}
     .cabeca {background-color: #FFDEAD;text-align:center;}
     h3{text-align: center; color: black; font-size: 32pt; font-family: "Arial", Century, "Book Antiqua";}
     .footer{text-align: center; font-size: 15pt; color: black;}
     .anuncio{float: center; background-color: none; width:750px; margin:0 auto; text-align:left; border:12px black;}
     .botao{float: left;}
     .mobile{float: center;}
     .cf{text-align: center; border-radius: 10px;}
    .menu{text-align: center;}
    .som{text-align: right;}
 .texto {background-color: none; width:750px; margin:0 auto; text-align:left; border:12px black;}
